<div class="card-center w-50 adjust-top">
  <div class="card-body transparent">
    <h1 class="card-title font-color text-center">Interests Page</h1>
    <p class="card-text font-color text-center">Enter your interests in a comma sperated list</p>
    <div class="row d-flex justify-content-around">
    
    <%= render 'form' %>

    </div>
  </div>
</div>
