<div class="card-center w-50 adjust-top">
  <div class="card-body transparent">
    <h1 class="card-title font-color text-center">Address Page</h1>
    <p class="card-text font-color text-center">Enter your Address</p>
    <div class="row d-flex justify-content-around">

    <%= render 'form'%>

    </div>
</div>

