// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 100px;
    right: 0;
}